body{
    background-color:#fffa0a
}
hr{
    border: 1px red solid
}

.eat{
    color: #fffa0a
}
.subs{
    margin-bottom: 1%
}
.burgy{
    font:'20px' bold;
    color: red
}
h1{ 
    margin-left: 15%;
    color:red;
    border: dashed 2px red;
    padding: 2% 
}
img{
    height: 300px;
    width: 350px;
    
}

h4{
    color:red
}